version: 2.1
jobs:
  test:
    docker:
      - image: cimg/php:8.1
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: composer install
      - run:
          name: Setup environmental valuables
          command: |
            echo "API_KEY=$SENDGRID_API_KEY" >> .env
            echo "TOS=alice@sink.sendgrid.net,bob@sink.sendgrid.net,carol@sink.sendgrid.net" >> .env
            echo "FROM=you@example.com" >> .env
      - run:
          name: Unittest
          command: ./vendor/bin/phpunit SampleTest.php
      - run:
          name: Show versions
          command: |
            $VER=$(cat composer.lock | jq -r '.packages[] | select(.name == "sendgrid/sendgrid") | .version')
            echo "sendgrid/sendgrid library: Version==$VER"
            php --version
workflows:
  version: 2
  normal_deploy_workflow:
    jobs:
      - test
  monthly_workflow:
    triggers:
      - schedule:
          cron: "0 0 2 * *"
          filters:
            branches:
              only:
                - main
    jobs:
      - test